<div class="container-fluid">

    <div class="row mt-2">

        <div class="item col-lg-3 col-sm-6 col-md-4 padding">

            <a href="assets/img/1.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="assets/img/1.jpg" width="100%" height="auto">
            </a>
        </div>

        <div class="item col-lg-3 col-sm-6 col-md-4 padding">

            <a href="assets/img/2.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="assets/img/2.jpg" width="100%" height="auto">
            </a>
        </div>

        <div class="item col-lg-3 col-sm-6 col-md-4 padding">

            <a href="assets/img/3.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="assets/img/3.jpg" width="100%" height="auto">
            </a>
        </div>

        <div class="item col-lg-3 col-sm-6 col-md-4 padding">

            <a href="assets/img/4.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="assets/img/4.jpg" width="100%" height="auto">
            </a>
        </div>

        <div class="item col-lg-3 col-sm-6 col-md-4 padding">

            <a href="assets/img/5.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="assets/img/5.jpg" width="100%" height="auto">
            </a>
        </div>

        <div class="item col-lg-3 col-sm-6 col-md-4 padding">

            <a href="assets/img/6.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="assets/img/6.jpg" width="100%" height="auto">
            </a>
        </div>

        <div class="item col-lg-3 col-sm-6 col-md-4 padding">

            <a href="assets/img/7.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="assets/img/7.jpg" width="100%" height="auto">
            </a>
        </div>

        <div class="item col-lg-3 col-sm-6 col-md-4 padding">

            <a href="assets/img/8.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="assets/img/8.jpg" width="100%" height="auto">
            </a>
        </div>
 
    </div>

</div>